Plugins>BioVoxxel Figure Tools,			"Meta-D-Rex",					metadataRecorder.MetadataRecorder
Plugins>BioVoxxel Figure Tools,			"-",
Plugins>BioVoxxel Figure Tools,			"LUT Channels Tool",			lut.tool.LutChannelsTool
Plugins>BioVoxxel Figure Tools,			"-",
Plugins>BioVoxxel Figure Tools,			"Export SVG",					svg.exporter.gui.SVGWriter
Plugins>BioVoxxel Figure Tools,			"Export all images as SVG",		svg.exporter.gui.BatchSvgExporter
Plugins>BioVoxxel Figure Tools,			"Export time series as SVGs",	svg.exporter.gui.TimeSeriesSvgExporter
Plugins>BioVoxxel Figure Tools,			"Export Z-slices as SVGs",	svg.exporter.gui.StackSliceSvgExporter
Plugins>BioVoxxel Figure Tools,			"-",
Plugins>BioVoxxel Figure Tools,			"Import images from SVG",		svg.exporter.gui.SVGImageImporter
Plugins>BioVoxxel Figure Tools,			"-",
Plugins>BioVoxxel Figure Tools,			"Create framed inset zoom",		inset.creator.Inset_Creator
Plugins>BioVoxxel Figure Tools,			"-",
Plugins>BioVoxxel Figure Tools,			"Start IJ Scale Bar",			svg.exporter.gui.StartIJScaleBar