Plugins>BioVoxxel Figure Tools,			"Export SVG",					svg.exporter.gui.SVGWriter
Plugins>BioVoxxel Figure Tools,			"Export all images as SVG",		svg.exporter.gui.BatchSvgExporter
Plugins>BioVoxxel Figure Tools,			"Create framed inset Zoom",		inset.creator.Inset_Creator
Plugins>BioVoxxel Figure Tools,			"Start IJ Scale Bar",			svg.exporter.gui.StartIJScaleBar